Alias /xhprof_html "/usr/share/php/xhprof_html/"
<Directory "/usr/share/php/xhprof_html/">
    Order allow,deny
    Allow from all
{% if apache_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
</Directory>