#!/bin/bash

BACKUP_DIR="{{ mysql_backups_dir }}"
MYSQL_USER="root"
MYSQL=/usr/bin/mysql

echo "DROP DATABASE IF EXISTS $2" | $MYSQL -u $MYSQL_USER
echo "CREATE DATABASE IF NOT EXISTS $2" | $MYSQL -u $MYSQL_USER
gunzip < $BACKUP_DIR/$1 | $MYSQL -u $MYSQL_USER $2