extension=apc.so

apc.enabled={{ php_apc_enabled }}
apc.include_once_override={{ php_apc_include_once_override }}
apc.num_files_hint={{ php_apc_num_files_hint }}
apc.shm_segments={{ php_apc_shm_segments }}
apc.shm_size={{ php_apc_shm_size }}
apc.stat={{ php_apc_stat }}