/*
Gris Claro: #DBDEDF
Gris Oscuro: #8D8F98
Rojo: #AA1018
Negro: #211915
*/

/*
	General.
*/
* {
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}
body {
	color: #211915;
	font: 1em/1.3em "Trebuchet ms", arial, verdana;
}
h1 {
	font-size: 2em;
	line-height: 1.3em;
	margin: 0;
}
h2 {
	clear: both;
	font-size: 1.5em;
	line-height: 1.3em;
}
h3 {
	border-bottom: 1px dashed #DBDEDF;
	clear: both;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 0.5em;
	padding: 0 0 5px 0;
}
h4 {
	font-size: 1.3em;
	line-height: 1.3em;
}
a {
	color: #AA1018;
	text-decoration: none;
}
a:hover {
	color: #211915;
	text-decoration: underline;
	transition: all 0.2s ease;
}
ul, ol {
	padding: 0 0 0 40px;
}
ul li, ol li {
	margin: 0 0 5px 0;
}
img {
	max-width: 100%;
}
table {
	border-collapse: collapse;
	margin: 0.5em 0 2em 0;
	text-align: left;
	width: 100%;
}
table th,
table td{
	border: 1px solid #CCC;
	padding: 0.5em 0.25em;
}
table th {
	background: #211915;
	border-color: #DBDEDF;
	color: #FFF;
	text-align: center;
}
table td.center {
  text-align: center;
}


/*
	Icons.
*/
i.fa {
	margin-right: 0.5em;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

/*
	Layout.
*/
.page {
	padding: 1em;
}
.header {
	border-bottom: 10px dashed #DBDEDF;
	margin: 0 0 2em;
	padding: 0 0 1em 0;
	overflow: hidden;
}
.main {
	clear: both;
	overflow: hidden;
}
.col-left {
	margin-bottom: 2em;
}
.col-right {
	background: #211915;
	color: #FFF;
	padding: 1em;
}
.footer {
	border-top: 1px solid #DBDEDF;
	clear: both;
	margin-top: 3em;
	padding-top: 0.5em;
	font-size: 0.8em;
}

/*
	Col Left.
*/
.col-left > div {
	margin-bottom: 2em;
}
.col-left > div:last-child {
	margin-bottom: 0;
}
.col-left h3 {
	font-size: 2em;
}
.col-left ul li,  .col-left ol li {
	border-bottom: 1px dashed #DBDEDF;
	margin-bottom: 1em;
}

/*
	Col Right.
*/
.col-right > div {
	margin-bottom: 2em;
}
.col-right > div:last-child {
	margin-bottom: 0;
}
.col-right a {
	color: #FFF;
}

/*
	Block links.
*/
.block-list {
	list-style: none;
	margin: 0 0 0 1em;
	padding: 0;
}

/*
	Throbber.
*/
.throbber_wrapper {
	background: rgba(0,0,0,0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.throbber {
	color: #FFF;
	height: 80px;
	left: 50%;
	margin-left: -51px;
	margin-top: -40px;
	position: fixed;
	top: 50%;
	width: 102px;
	z-index: 2;
}

/*
	Collapse.
*/
h3.active i {
    left: -1px;
    transform: rotate(90deg)
}

/*
	Backups.
*/
.backups .block-content {
	display: none;
}
.backups h3 a {
	color: #211915;
}


@media only screen and (min-width: 900px) {
	h1 {
		float: left;
	}
	h2 {
		clear: none;
		text-align: right;
	}
	.col-left {
		float: left;
		width: 65%;
	}
	.col-right {
		float: left;
		margin-left: 5%;
		width: 30%;
	}
}