NameVirtualHost *:{{ apache_listen_port }}
Listen {{ apache_listen_port }}

{% if ansible_distribution == "Debian" and ansible_distribution_major_version|int > 7 %}
<IfModule ssl_module>
{% else %}
<IfModule mod_ssl.c>
{% endif %}
    NameVirtualHost *:{{ apache_listen_port_ssl }}
    Listen {{ apache_listen_port_ssl }}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{ apache_listen_port_ssl }}
</IfModule>