{# Set up VirtualHosts #}
<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port }}>
{# ServerName #}
  ServerName {{ item.server_name }}
{# ServerAlias #}
{% if item.server_alias is defined %}
{% for alias in item.server_alias %}
  ServerAlias {{ alias }}
{% endfor %}
{% endif %}
{# DocumentRoot #}
{% if item.document_root is defined %}
  DocumentRoot {{ item.document_root }}
{% endif %}
{# ServerAdmin #}
{% if item.server_admin is defined %}
  ServerAdmin {{ item.server_admin }}
{% endif %}
  EnableSendfile {{ item.enable_send_file }}

  ErrorLog /var/log/{{ apache_package }}/error.log
  CustomLog /var/log/{{ apache_package }}/access.log combined

{# Directory #}
{% if item.document_root is defined %}
  <Directory "{{ item.document_root }}">
{% if item.directory_index is defined %}
    {{ item.directory_index }}
{% endif %}
    AllowOverride {{ item.allow_override|default('None') }}
    Options +Indexes +FollowSymLinks
{% if apache_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
  </Directory>
{% endif %}

{% if item.extra_parameters is defined %}
  {{ item.extra_parameters }}
{% endif %}
</VirtualHost>